name: Build & Deploy local k8s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Build image
      run: docker build -t mirror:latest .

    - name: Deploy
      run: kubectl apply -f k8s/
